@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #dee2e6;
    font-family: 'Roboto', sans-serif;
}

.headerTitle {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #f75881;
}

.addingCar-Title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #1ec4a5;
}

.mt {
    margin-top: 50px;
}
