{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center; font-size: 40px;" id="websiteTitle">Carzone Flask Website</h1>
{% endblock %}

{% block body %}

<div id="list" class="text-xl flex flex-col items-center justify-center text-center mt-12 space-y-8">
    <a href="/addcar" class="hover:text-red-400 hover:text-2xl transition-all duration-300">Add Car</a>
    <a href="/viewtable" class="hover:text-red-400 hover:text-2xl transition-all duration-300">View Car (in Table)</a>
    <a href="/viewgraph" class="hover:text-red-400 hover:text-2xl transition-all duration-300">View Car (in Graph)</a>
    <a href="/" class="hover:text-red-400 hover:text-2xl transition-all duration-300">Upload CSV</a>
</div>
</div>
{% endblock %}