{% extends 'base.html' %}

{% block head %}
<h1 class="p-4 m-6 text-[55px] uppercase text-center text-indigo-400 tracking-wider" id="websiteTitle">Carzone Flask
    Website</h1>
{% endblock %}

{% block body %}

<!-- <div id="list" class="text-xl flex flex-col items-center justify-center text-center mt-12 space-y-8">
    <a href="/addcar" class="hover:text-red-400 hover:text-2xl transition-all duration-300">Add Car</a>
    <a href="/viewtable" class="hover:text-red-400 hover:text-2xl transition-all duration-300">View Car (Table)</a>
    <a href="/viewgraph" class="hover:text-red-400 hover:text-2xl transition-all duration-300">View Car (Graph)</a>
    <a href="/uploadcsv" class="hover:text-red-400 hover:text-2xl transition-all duration-300">Upload CSV</a>
</div>

<div id="list" class="grid grid-cols-2 gap-4 content-around  items-center justify-center text-center">
    <div class=" grid grid-cols-2 gap-1 justify-evenly mt-24 items-center text-center ">
    <a href="/addcar"
        class="w-[50%] border-2 border-red-400 bg-transparent hover:scale-110 hover:bg-red-400 hover:border-transparent  py-3 text-center transition-all duration-500 scale-100 focus:scale-125 focus:bg-red-400 focus:border-transparent">Add
        Car</a>
    <a href="/viewtable"
        class="w-[50%] border-2 border-red-400 bg-transparent hover:scale-110 hover:bg-red-400 hover:border-transparent  py-3 text-center transition-all duration-500 scale-100 focus:scale-125 focus:bg-red-400 focus:border-transparent">View
        Car (Table)</a>
    <a href="/viewgraph"
        class="w-[50%] border-2 border-red-400 bg-transparent hover:scale-110 hover:bg-red-400 hover:border-transparent  py-3 text-center transition-all duration-500 scale-100 focus:scale-125 focus:bg-red-400 focus:border-transparent">View
        Car (Graph)</a>
    <a href="/uploadcsv"
        class="w-[50%] border-2 border-red-400 bg-transparent hover:scale-110 hover:bg-red-400 hover:border-transparent  py-3 text-center transition-all duration-500 scale-100 focus:scale-125 focus:bg-red-400 focus:border-transparent">Upload
        CSV</a>
    </div>
</div> -->

<div class="flex-grow place-content-center mt-24">
    <div class="grid  place-items-center justify-center">

        <div class="flex flex-col">
            <div class="h-[100px] w-[300px]  flex flex-col items-center">
                <a href="/addcar"
                    class="text-xl w-full text-center cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase mx-auto py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-110 transition-all duration-300">Add
                    Car</a>
            </div>
            <div class="h-[100px] w-[300px]  flex flex-col items-center">
                <a href="/viewtable"
                    class="text-xl w-full text-center cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase mx-auto py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-110 transition-all duration-300">View
                    Car (Table)</a>
            </div>
            <div class="h-[100px] w-[300px]  flex flex-col items-center">
                <a href="/viewgraph"
                    class="text-xl w-full text-center cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase  py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-110 transition-all duration-300 whitespace-nowrap">View
                    Car (Graph)</a>
            </div>
            <div class="h-[100px] w-[300px]  flex flex-col items-center">
                <a href="/uploadcsv"
                    class="text-xl w-full text-center cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase mx-auto py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-110 transition-all duration-300">Upload
                    CSV</a>
            </div>
        </div>
    </div>
</div>

<footer class="text-3xl text-white text-center fixed inset-x-0 bottom-0 p-4 capitalize border-t border-white">
    Made By a00273758
</footer>
{% endblock %}