{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center; font-size: 40px;">Upload CSV File</h1>
{% endblock %}

{% block body %}
<div class="m-2 p-12 flex flex-row items-center text-center justify-between">
    <div class="h-[100px] w-[300px] ">
        <a href="/"
            class="border-2 border-[#007581] bg-[#007581] hover:scale-110 hover:bg-[#1FA78E] hover:border-transparent py-2 px-4 text-center transition-all duration-500 scale-100 focus:scale-110 focus:bg-[#007581] focus:border-transparent rounded-lg">Home
            Page</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/addcar"
            class="border-2 border-[#007581] bg-[#007581] hover:scale-110 hover:bg-[#1FA78E] hover:border-transparent py-2 px-4 text-center transition-all duration-500 scale-100 focus:scale-110 focus:bg-[#007581] focus:border-transparent rounded-lg">Add Car</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/viewtable"
            class="border-2 border-[#007581] bg-[#007581] hover:scale-110 hover:bg-[#1FA78E] hover:border-transparent py-2 px-4 text-center transition-all duration-500 scale-100 focus:scale-110 focus:bg-[#007581] focus:border-transparent rounded-lg">View
            Car (Table)</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/viewgraph"
            class="border-2 border-[#007581] bg-[#007581] hover:scale-110 hover:bg-[#1FA78E] hover:border-transparent py-2 px-4 text-center transition-all duration-500 scale-100 focus:scale-110 focus:bg-[#007581] focus:border-transparent rounded-lg">View
            Car (Graph)</a>
    </div>
</div>

<div class="flex items-center text-center justify-center">
    <div class="mt-12">
        <form class="mb-6" action="/uploadcsv" method="post" enctype="multipart/form-data">
            <div class="flex flex-col mb-8 items-center text-center justify-center">
                <input type="file" , name="File" class="mb-8">
                <input type="submit" , value="Upload CSV" class="cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase text-lg mx-auto py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-110 transition-all duration-300">
            </div>


      

        </form>
    </div>
</div>
{% endblock %}
