{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center; font-size: 40px;">View Table</h1>
{% endblock %}

{% block body %}
<div class="m-2 p-12">
    <ul class="flex justify-between">
        <li class="mr-3">
            <a class="inline-block border border-[#A66978] rounded py-2 px-4 bg-[#A66978] text-white" href="/">Home
                Page</a>
        </li>
    </ul>
</div>
{% if cars|length < 1 %} <h4>There are no cars.</h4>
    {% else %}
    <!-- <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Make</th>
            <th>Model</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.content['Name']}}</td>
            <td>{{ car.content['Price']}}</td>
            <td>{{ car.content['Make']}}</td>
            <td>{{ car.content['Model']}}</td>

           <td class="button"><a href="">Update</a></td>
        <td class="button"><a href="">Delete</a></td>
    </tr>
    {% endfor %}
    </table> -->

    <div class="flex flex-col p-4">
        <div class="overflow-x-auto sm:-mx-2 lg:-mx-8">
            <div class="py-2 inline-block w-[100%] 2xl:min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class=" w-[100%] 2xl:min-w-full border-2 border-white">
                        <thead class="bg-[#007D54] border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-white p-2  2xl:px-6 2xl:py-4 border-r text-left">
                                    Car Name
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Price (in €)
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Make
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Model
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r text-left">
                                    Engine
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Fuel
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Odometer
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Transmission
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r text-left">
                                    Body
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Year
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    County
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Doors
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r text-left">
                                    Color
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Owners
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    Tax-Expiry
                                </th>
                                <th scope="col" class="text-sm font-medium text-white p-2 2xl:px-6 2xl:py-4 border-r  text-left">
                                    NCT-Expiry
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for car in cars %}

                            <tr class="bg-transparent border-b transition duration-300 ease-in-out hover:bg-[#484a68]">
                                <td class="2xl:px-6 2xl:py-4 whitespace-pre-wrap text-sm font-light text-white p-2 border-r ">{{
                                    car.content['Name']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Price']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Make']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Model']}}</td>
                                <td class="2xl:px-6 2xl:py-4 whitespace-pre-wrap text-sm font-light text-white p-2 border-r ">{{
                                    car.content['Engine']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Fuel']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Odometer']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r  ">{{
                                    car.content['Transmission']}}</td>

                                <td class="2xl:px-6 2xl:py-4 whitespace-pre-wrap text-sm font-light text-white p-2 border-r ">{{
                                    car.content['Body']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Year']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['County']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r  ">{{
                                    car.content['Doors']}}</td>

                                <td class="2xl:px-6 2xl:py-4 whitespace-pre-wrap text-sm font-light text-white p-2 border-r ">{{
                                    car.content['Color']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Owners']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Tax-Expiry']}}</td>
                                <td class="text-sm text-white p-2 font-light 2xl:px-6 2xl:py-4 whitespace-pre-wrap border-r  ">{{
                                    car.content['NCT-Expiry']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}