{% extends 'base.html' %}

{% block head %}
<h1 class="p-4 m-6 text-[55px] uppercase text-center text-indigo-400" id="websiteTitle">View Graph</h1>
{% endblock %}

{% block body %}
<div class="m-2 p-12 flex flex-row items-center text-center justify-evenly gap-2">
    <div class="h-[100px] w-[300px] ">
        <a href="/"
            class="cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase text-lg mx-auto py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-105 transition-all duration-300">Home
            Page</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/addcar"
            class="cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase text-lg mx-auto py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-105 transition-all duration-300">Add Car</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/viewtable"
            class="cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase text-lg mx-auto py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-105 transition-all duration-300">View
            Car (Table)</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/uploadcsv"
            class="cursor-pointer block scale-100 bg-transparent hover:bg-[#E18A77] text-white font-semibold hover:text-white uppercase text-lg mx-auto py-2 px-16 border border-[#E18A77] hover:border-transparent rounded-lg focus:scale-105 transition-all duration-300">Upload
            CSV</a>
    </div>
</div>

<hr>

<div class="flex flex-col gap-4 p-2 items-center justify-center text-center mt-24">
    <div>
        <h1 class="text-[55px] font-bold">Choose a graph:</h1>
    </div>
    <div class="p-4 flex flex-col gap-12">
        <a href="/graphone" class="px-24 py-4 text-xl border border-gray-500 rounded bg-[#727787] hover:bg-[#986883] hover:scale-105 transition-all duration-500 text-white">Graph 1</a>
        <a href="/graphtwo" class="px-24 py-4 text-xl border border-gray-500 rounded bg-[#727787] hover:bg-[#986883] hover:scale-105 transition-all duration-500 text-white">Graph 2</a>
    </div>
</div>


<!-- <script src="https://cdn.plot.ly/plotly-latest-min.js"></script>
<script type="text/javascript">
    var graph = {{ graphJSON | safe }};
    Plotly.plot('chart', graph, {});
</script> -->

{% endblock %}