{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center; font-size: 40px;">View Table</h1>
{% endblock %}

{% block body %}
<div class="m-2 p-12">
    <ul class="flex justify-between">
        <li class="mr-3">
            <a class="inline-block border border-[#A66978] rounded py-2 px-4 bg-[#A66978] text-white" href="/">Home
                Page</a>
        </li>
    </ul>
</div>
{% if cars|length < 1 %} <h4>There are no cars.</h4>
    {% else %}
    <!-- <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Make</th>
            <th>Model</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.content['Name']}}</td>
            <td>{{ car.content['Price']}}</td>
            <td>{{ car.content['Make']}}</td>
            <td>{{ car.content['Model']}}</td>

           <td class="button"><a href="">Update</a></td>
        <td class="button"><a href="">Delete</a></td>
    </tr>
    {% endfor %}
    </table> -->

    <div class="flex flex-col p-4">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full border-2 border-white">
                        <thead class="bg-[#606B72] border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4 border-r text-left">
                                    Car Name
                                </th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4 border-r  text-left">
                                    Price (in €)
                                </th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4 border-r  text-left">
                                    Make
                                </th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                    Model
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for car in cars %}

                            <tr class="bg-transparent border-b transition duration-300 ease-in-out hover:bg-[#4C4E53]">
                                <td class="px-6 py-4 whitespace-pre-wrap text-sm font-light text-white border-r ">{{
                                    car.content['Name']}}</td>
                                <td class="text-sm text-white font-light px-6 py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Price']}}</td>
                                <td class="text-sm text-white font-light px-6 py-4 whitespace-pre-wrap border-r ">{{
                                    car.content['Make']}}</td>
                                <td class="text-sm text-white font-light px-6 py-4 whitespace-pre-wrap">{{
                                    car.content['Model']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}