{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center; font-size: 40px;">View Graph</h1>
{% endblock %}

{% block body %}
<div class="m-2 p-12 flex flex-row items-center text-center justify-between">
    <div class="h-[100px] w-[300px] ">
        <a href="/"
            class="border-2 border-[#007581] bg-[#007581] hover:scale-110 hover:bg-[#1FA78E] hover:border-transparent py-2 px-4 text-center transition-all duration-500 scale-100 focus:scale-110 focus:bg-[#007581] focus:border-transparent rounded-lg">Home
            Page</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/addcar"
            class="border-2 border-[#007581] bg-[#007581] hover:scale-110 hover:bg-[#1FA78E] hover:border-transparent py-2 px-4 text-center transition-all duration-500 scale-100 focus:scale-110 focus:bg-[#007581] focus:border-transparent rounded-lg">Add Car</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/viewtable"
            class="border-2 border-[#007581] bg-[#007581] hover:scale-110 hover:bg-[#1FA78E] hover:border-transparent py-2 px-4 text-center transition-all duration-500 scale-100 focus:scale-110 focus:bg-[#007581] focus:border-transparent rounded-lg">View
            Car (Table)</a>
    </div>
    <div class="h-[100px] w-[300px] ">
        <a href="/uploadcsv"
            class="border-2 border-[#007581] bg-[#007581] hover:scale-110 hover:bg-[#1FA78E] hover:border-transparent py-2 px-4 text-center transition-all duration-500 scale-100 focus:scale-110 focus:bg-[#007581] focus:border-transparent rounded-lg">Upload
            CSV</a>
    </div>
</div>

<div class="flex flex-col gap-4 p-2 items-center justify-center text-center">
    <div>
        <h1 class="text-2xl font-bold">Choose a graph:</h1>
    </div>
    <div class="p-4 flex flex-col gap-6">
        <a href="/graphone" class="px-24 py-4 text-xl border border-gray-500 rounded bg-[#727787] hover:bg-[#A0AACE]  transition-all duration-500 text-white">Graph 1</a>
        <a href="/graphtwo" class="px-24 py-4 text-xl border border-gray-500 rounded bg-[#727787] hover:bg-[#A0AACE]  transition-all duration-500 text-white">Graph 2</a>
    </div>
</div>


<!-- <script src="https://cdn.plot.ly/plotly-latest-min.js"></script>
<script type="text/javascript">
    var graph = {{ graphJSON | safe }};
    Plotly.plot('chart', graph, {});
</script> -->

{% endblock %}